<%- include('includes/head') %>
    </head>

    <body>
        <%- include('includes/nav') %>
            <main>
                <section id="banner" class="section-p1">
                    <h4>banner</h4>
                </section>

                <!-- ชุดมาใหม่ (โชว์ 4 ชิ้นล่าสุด) -->
                <section id="new_product" class="section-p1 product1">
                    <h2>ชุดที่มี</h2>
                    <p>สามารถดูแต่ละหมวดหมู่ได้ที่หมวดหมู่</p>
                    <div class="pro-container">
                        <% products.slice(0,4).forEach(p=> { %>
                            <div class="pro">
                                <a href="/api/products/<%= p.product_id %>">
                                    <% if (p.images.length> 0) { %>
                                        <img src="data:<%= p.images[0].image_mime %>;base64,<%= Buffer.from(p.images[0].image_data).toString('base64') %>"
                                            alt="<%= p.product_name %>">
                                        <% } else { %>
                                            <img src="/images/no-image.png" alt="no image">
                                            <% } %>
                                </a>

                                <div class="des">
                                    <span>
                                        <%= p.story_name %>
                                    </span>
                                    <h5>
                                        <%= p.product_name %>
                                    </h5>
                                    <% if (p.prices.length> 0) { %>
                                        <h4>
                                            <%= p.prices[0].price_test %>฿ / <%= p.prices[0].price_pri %>฿
                                        </h4>
                                        <% } %>
                                </div>
                            </div>


                            <div class="btn-pro">
                                <a href="#"><i class='bx bx-heart btn'></i></a>
                                <a href="#"><i class="bx bx-cart btn"></i></a>
                            </div>
                    </div>
                    <% }) %>
                        </div>
                </section>


               
                    </div>
                </section>
            </main>
            <%- include('includes/footer') %>
                <script src="/js/script.js"></script>
    </body>

    </html>